<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ACOTS SHOP, <%= @user.email %></h1>
    <p>
      Your transaction has been completed, below is its information:
    </p>
    <p>
      Cart total: <%= @cart.total %>
    </p>
  </body>
</html>
